.DS_STORE
log/*
tmp/*
config/database.yml
db/*.sqlite3
*~
*.swp
db/schema.rb
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
config/*.yml
rerun.txt
spec/vcr/**