body {
  font-size: 1em;
  font-family: Verdana;
  padding: 0;
  margin: 0;
  color: black; }

#header {
  padding: 10px 10px 10px 20px;
  background-color: #e90400;
  color: white;
  font-size: 1.1em; }
  #header a {
    color: pink; }

p {
  margin: 0;
  padding: 20px; }

a {
  color: #e90400;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

ul.businesses {
  float: none;
  width: auto;
  margin: 10px 0 0 10px;
  padding: 0 0 0 0;
  list-style: none; }
  ul.businesses li.business {
    display: block;
    margin: 0 0 0 0;
    padding: 3px 0 3px 0;
    border-bottom: 1px solid #f0f0f0; }
    ul.businesses li.business:last-child {
      border-bottom: none;
      padding: 3px 0; }
    ul.businesses li.business ul.parts {
      display: block;
      float: none;
      overflow: hidden;
      clear: both;
      margin: 0;
      padding: 0;
      list-style: none; }
      ul.businesses li.business ul.parts li {
        margin: 0;
        padding: 0;
        float: left; }
        ul.businesses li.business ul.parts li.review_count {
          width: 50px;
          text-align: right;
          padding-right: 10px; }
        ul.businesses li.business ul.parts li.rating {
          padding-top: 5px;
          width: 90px; }
        ul.businesses li.business ul.parts li.name {
          width: 400px; }
          ul.businesses li.business ul.parts li.name a {
            color: black; }
          ul.businesses li.business ul.parts li.name span.location {
            color: #999999;
            font-size: 0.9em;
            font-style: italic; }
            ul.businesses li.business ul.parts li.name span.location a {
              color: #999999; }

div#colophon {
  font-weight: normal;
  padding-left: 20px;
  font-family: Verdana, "Lucida Grande", Georgia !important;
  font-size: 0.8em;
  color: #aaaaaa; }
  div#colophon a {
    color: #777777; }
