body
	font-size: 1em
	font-family: Georgia

ul.businesses
	float: none
	margin: 0 0 0 0
	padding: 0 0 0 0
	list-style: none
	li.business
		display: block
		margin: 0 0 0 0
		padding: 3px 0 3px 0
		border-bottom: 1px solid #F0F0F0
		&:last-child
			border-bottom: none
			padding: 3px 0
		ul.parts
			display: block
			float: none
			overflow: hidden
			clear: both
			margin: 0
			padding: 0
			list-style: none
			li
				margin: 0
				padding: 0
				float: left
				&.review_count
					width: 60px
					text-align: right
					padding-right: 10px
				&.rating
					padding-top: 5px
					width: 110px
				&.name
					width: 300px
				&.location
					width: 400px

			
		